.container {
    float: left;
    width: 48%;
    margin-right: 2%;
    padding: 10px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    box-sizing: border-box;
}
.container div {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
}
}
