@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.uofa{
  background-color: #007C41;
}

.uofatext{
  color: #fff;
}

.footer{
  position: absolute;
  width: 100%;
  border-top: 3px solid #ffdb05;
}

body{
    font-family: 'Abel';
}
